/*CSS less-ish variable*/
/* 
@img-box-bgColor = rgba(0, 0, 0, 0.3);
@img-box-info-bgColor = rgba(255, 255, 255, 0.5); 
@img-box-info-picWidth = 30px;
@img-box-info-name-txtSize = 22px;
@img-box-info-year-txtSize = 20px;

@pagination-buttonColor = purple;
@pagination-button-txtColor = yellow;

@img-box-container-MaxHeight = 200px;
@img-box-container-MaxWidth = 300px;
*/


#main{
	text-align: center;
}


.img-box{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	max-width: 250px;
	width: 100%;
	margin: 20px 10px;
	font-family: 'canter'; 
	text-align: center;
	background-color: rgba(0, 0, 0, 0.3);;
	box-shadow: 0 1px 3px #000;
	/*border: solid 1px red;*/
}

.img-box-container{
	max-height: 200px;;
	max-width: 300px;;
}
.img-box-container img{
	max-width: 100%;
	max-height: 200px;;
	box-shadow: 0 1px 3px #000;
	height: auto;
}

.img-box-info{
	padding-top: 5px;
	text-align: left;
	position: relative;
	background-color: rgba(255, 255, 255, 0.5); ; 
}


.img-box-info-creator{
	margin-top: 5px;
	display: block;
	text-align: left;
	position: relative;
}


.img-box-info-pic{
	margin: 0 0 0 15px; 
	width: 30px;;
	height: 30px;;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	border-radius: 50%;
	background: url(../../img/photo.jpg) no-repeat center 50%;
}


.img-box-info-name{
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px 0 10px; 
	font-size: 22px;;
	display: inline-block;
}
.img-box-info-name a{
	font-size: 20px;
	cursor: pointer;
	padding: 0 3px 0 3px;	
}


.img-box-info-year{
	font-size: 20px;;
	position: absolute;
	right: 15px; top: 10px;
}



.img-box-info-tags{
	text-align: left;
	padding: 5px 0 5px 10px;
	/*border: solid 1px red;*/
}

/*PAGINATION*/
	.browse-paging{
		margin-top: 30px;
		width: 100%;
		text-align: center;
		/*border:solid 1px red;*/
	}
	.pagination{
		display: block;
	}
	.pagination a{
		text-decoration: none;
		text-transform: uppercase;
		padding: 10px 15px 10px 15px;
		font-size: 25px;
		font-family: 'saniretro';
		background-color: purple;;
		color: yellow;;
		text-shadow: 0 1px 1px #34495e;
		border-radius: 5px 5px 0 0;
		box-shadow: 0 -3px 1px #34495e; 
	}
	.pagination a:hover{
		box-shadow: 0 -2px 1px #34495e;
		background-color: #8e44ad;
		color: #f1c40f; 
	}

/* Variables:img-box-info-name-txtSize{1421:1426}.img-box-container-MaxHeight{719:725,804:810}.img-box-info-picWidth{1136:1141,1152:1157}.pagination-buttonColor{2050:2057}.img-box-bgColor{605:624}.img-box-container-MaxWidth{739:745}.pagination-button-txtColor{2068:2075}.img-box-info-year-txtSize{1572:1577}.img-box-info-bgColor{952:977} */